TITILER_EOPF_CACHE_HOST=127.0.0.1
TITILER_EOPF_API_DEBUG=True
TITILER_EOPF_STAC_API_URL="https://api.explorer.eopf.copernicus.eu/stac"

TITILER_OPENEO_STAC_API_URL="https://api.explorer.eopf.copernicus.eu/stac"
TITILER_OPENEO_STORE_URL="services/eoapi.json"
